* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: helvetica;
    background-image: url(../19366.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    background-color: rgba(255, 255, 255, 0.842);
    width: 80vw;
    height: auto;
    margin: 50px auto;
    border: 4px solid #23408e;
    border-radius: 50px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .8);
}

header {
    text-align: center;
    text-transform: uppercase;
    margin-top: 50px;
}

h3 {
    text-transform: uppercase;
}

form {
    margin: 40px 100px;
}


.personal {
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #23408e;
}

.firstrow, .secondrow, .thirdrow, .fourthrow {
    display: grid;
    grid-template-columns: 150px repeat(3, 1fr);
    margin-bottom: 15px;
}

.firstrow label, .secondrow label, .thirdrow label, .fourthrow label {
    padding-top: 10px;
}

.firstrow input, .secondrow input, .thirdrow input, .fourthrow input, #textMed {
    width: auto;
    height: 40px;
    border: 1px solid #47B5FF;
    border-radius: 10px;
    padding: 5px 15px;
}

input:hover {
    box-shadow: 0 0 5px #47B5FF;
}

#mName {
width: 250px;
margin: 0 auto;
}

.secondrow {
    grid-template-columns: 150px 1fr;
}

.thirdrow {
    grid-template-columns: 1fr 1fr 23%;
    grid-gap: 20px;
}

.birthdate {
    display: grid;
    grid-template-columns: 150px 1fr;
}

.pob {
    display: grid;
    grid-template-columns: 30% 1fr;
}

.gender {
    display: flex;
}

.gender input {
    margin: 0 10px;
    width: 20px;
}

.fourthrow {
    grid-template-columns: 130px 1fr 110px 1fr;
    margin-bottom: 30px;
    grid-gap: 20px;
}

.medical {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.medical label {
    margin-bottom: 15px;
}

.medHistory, .symptoms, .medication {
    display: flex;
    flex-direction: column;
}

.medHistory input {
    margin-right: 12px;
}

.symptoms select {
    width: 200px;
    height: 120px;
    border: 1px solid#47B5FF;
}

.medication #textMed {
    margin-top: 20px;
    width: 300px;
}

form button{
    border: none;
    background-color: #23408e;
    width: 150px;
    height: 40px;
    margin: 0 50vw;
    border-radius: 20px;
    font-size: 15px;
    color: white;
}

form button:hover {
    background-color: #1363DF;
    cursor: pointer;
}

.input-control {
    display: flex;
    flex-direction: column;
}

.input-control small {
    padding-top: 5px;
    padding-left: 16px;
    visibility: hidden;
}

.input-control.error input {
    border-color: rgb(252, 66, 66);
    box-shadow: 0 0 4px rgb(252, 66, 66);
}


.input-control.error small {
    visibility: visible;
    color: rgb(252, 66, 66);
}


/* Modal */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
.modalContainer {
    height: 62vh;
    width: 50vw;
    margin: 100px auto;
    border-radius: 20px;
    border: 4px solid #23408e;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .8);
    z-index: 1;
    background-color: rgb(255, 255, 255);
}

.modal-content {
    display: grid;
    grid-template-columns: 22% 1fr;
    grid-template-rows: 10% 5% 1fr 5% 20% 10%;
    grid-gap: 15px;
    margin: 20px 50px;
}

.modal .header {
    grid-column: 1/3;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.personalHeader, .medicalHeader  {
    grid-column: 1/3;
    grid-row: 2/3;
    font-weight: bold;
    font-size: 20px;
}

.medicalHeader {
    grid-row: 4/5;
}
.personalTags {
    grid-column: 1/2;
    grid-row: 3/4;
}
.personalData {
    grid-column: 2/3;
    grid-row: 3/4;
}

.medicalTags {
    grid-column: 1/2;
    grid-row: 5/6;

}
.medicalData {
    grid-column: 2/3;
    grid-row: 5/6;
}

.modal button {
    grid-column: 1/3;
    grid-row: 6/7;
    border: none;
    background-color: #23408e;
    width: 150px;
    height: 40px;
    margin: 0 30vw;
    border-radius: 20px;
    font-size: 15px;
    color: white;
}

.modal button:hover {
    background-color: #1363DF;
    cursor: pointer;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}